body{
  background-color: plum;
}

h1{
  margin-top: 5px;
  margin-bottom:8px;
}

.canvas{
  border: 2px solid black;
  border-radius: 2px;
  background-color: white;
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  flex-direction: column;
}

h2{
  font-weight:600;
  color:deeppink;
  width:fit-content;
  margin:auto;
  text-shadow: 0.5px 1px 4px gold;
}

.row{
  display:flex;
  flex:1;
  flex-direction: row;
}

.pixel{
  flex:1;
}

.settings{
  margin-top: 8px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  padding:10px;
  justify-content: space-around;
}

div > button:hover{
  border:1.5px solid gold;   
}

div > button:active{
  border:2px solid black;
}

.sizeBtns > button {
  color: black;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 4px black;
  width: 3em;
  padding:0.5em;
  background-color: lightsteelblue;
}


.colorBtns > button{
  color: aliceblue;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 4px black;
  width: 5em;
  padding:0.5em;
}

.pink{
  background-color: deeppink;
}

.purple{
  background-color: darkorchid;
}

.gold{
  background-color: gold;
}

.clear{
color: black;
font-weight: 600;
border: none;
border-radius: 5px;
box-shadow: 0 0 4px black;
width: 5em;
padding:0.5em;
background-color: pink;
}

